@font-face {
  font-family: 'Waping';
  src: url('https://cdn.jsdelivr.net/gh/waping-kr/fonts/Waping.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body, * { 
  font-family: -apple-system, BlinkMacSystemFont, "Waping", "system-ui";
}

::-moz-selection {
  color: var(--highlight-font-color);
  background-color: var(--highlight);
}

::selection {
  color: var(--highlight-font-color);
  background-color: var(--highlight);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--font-color);
  background: var(--main-background);
  padding: 0;
  margin: 0;
  border: 0;
}

div.button {
  display: inline-block;
  font-weight: 600;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  margin: 0 5px;
  border-radius: 0.2em;
  font-size: 0.9em;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  div.button {
    line-height: 25px;
    height: 25px;
    padding: 0 8px;
    font-size: 0.8em;
  }
}

div.button.yellow {
  background-color: #ffc400;
  color: #000;
}

div.button.blue {
  background-color: var(--default);
}

div.button.blue:active {
  background-color: var(--default-active);
}

div.button.cyan {
  background-color: #17a2b8;
}

div.button.green {
  background-color: var(--green);
}

div.button.green:active {
  background-color: var(--green-active);
}

div.button.red {
  background-color: var(--red);
}

div.button.red:active {
  background-color: var(--red-active);
}

div.button.click {
  cursor: pointer;
}

div.button.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #888 !important;
}

ul.nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.nav li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

ul.nav li:after {
  display: block;
  height: 2px;
  margin-right: 10px;
  content: "";
}

ul.nav li:not(.highlight):hover:after {
  background-color: var(--highlight);
  -webkit-animation: showSlow 300ms cubic-bezier(0.26, 0, 0.06, 1) 0ms forwards;
  animation: showSlow 300ms cubic-bezier(0.26, 0, 0.06, 1) 0ms forwards;
}

ul.nav li.highlight:after {
  width: 100%;
  background-color: var(--highlight);
}

ul.nav li.dropdown {
  position: relative;
}

ul.nav li.dropdown div.content {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.nav li.dropdown div.content > a {
  display: block;
  text-decoration: none;
  width: 240px;
  padding: 0 10px;
  color: var(--font-color);
  background-color: var(--category-item);
  border-left: 3px solid var(--category-item);
  border-bottom: 1px solid var(--category-split);
}

ul.nav li.dropdown div.content > a:hover, ul.nav li.dropdown div.content > a.highlight {
  border-left: 3px solid var(--highlight);
  background-color: var(--item-hover-background);
}

ul.nav li.dropdown:hover div.content {
  display: block;
}

@-webkit-keyframes showSlow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showSlow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes hideSlow {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes hideSlow {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

input {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--card-background);
  color: var(--font-color);
  border: 2px solid var(--card-split);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input.sm {
  padding: 6px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus {
  border: 2px solid #0077ff;
}

input[type="text"].disabled, input[type="password"].disabled, input[type="number"].disabled, input[type="date"].disabled {
  color: #8d8d8d;
  background-color: #5a5a5a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

input[type="password"]:not(:placeholder-shown) {
  font-family: sans-serif;
}

input[type="date"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

input[type="text"]:invalid, input[type="number"]:invalid, input[type="password"]:invalid, input[type="date"]:invalid {
  border: 2px solid #ff2727;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"], input[type="date"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

textarea {
  background-color: var(--card-background);
  resize: none;
  color: var(--font-color);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  padding: 10px;
  border: 2px solid var(--card-split);
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  min-height: 250px;
  overflow: auto;
  white-space: pre;
}

textarea:focus {
  border: 2px solid #0077ffb2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--card-background);
  color: var(--font-color);
  border: 2px solid var(--card-split);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

select.sm {
  padding: 6px;
}

select:focus {
  border: 2px solid #0077ff;
}

select:disabled {
  color: #8d8d8d;
  background-color: #414141;
}

@media (max-width: 1024px) {
  input,
  textarea,
  select {
    padding: 7px;
    font-size: 0.8em;
  }
}

div.inline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  div.inline-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

div.inline-container > div.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1024px) {
  div.inline-container > div.container {
    margin: 5px 0;
    min-width: 100%;
  }
}

div.inline-container > div.container > div.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font-size: 0.9em;
}

@media (max-width: 1024px) {
  div.inline-container > div.container > div.title {
    margin: 0;
    margin-bottom: 7px;
  }
}

div.inline-container input,
div.inline-container div.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

div.inline-container input.both,
div.inline-container div.container.both {
  margin: 0 10px;
}

div.inline-container input.right,
div.inline-container div.container.right {
  margin-right: 10px;
}

div.text-align-right {
  text-align: right;
}

div.popup.info {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

div.popup.info > div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

div.popup.info > div.container div.info {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

div.popup.info > div.container div.info.yellow {
  color: #eeb90a;
}

div.popup.info > div.container div.info.white {
  color: #fff;
}

div.popup.info > div.container div.info.blue {
  color: #2e90ff;
}

div.popup.info > div.container div.info.green {
  color: #23bd05;
}

div.popup.info > div.container div.info.red {
  color: #da0f0f;
}

div.popup.info > div.container div.split {
  height: 1px;
  display: block;
  background-color: #535353;
  margin: 10px 0;
}

div.popup.info > div.container div.button {
  font-size: 0.8em;
  vertical-align: middle;
}

div.popup.info > div.container div.button.right {
  margin-right: 10px;
}

div.popup.custom {
  max-width: 1300px;
  width: auto;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--item-background);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 0.2em;
  word-wrap: break-word;
}

@media (max-width: 1300px) {
  div.popup.custom {
    display: none;
  }
}

div.popup.custom > section.header {
  margin-bottom: 15px;
}

div.popup.custom > section.header > div.title {
  font-size: 1.2em;
  font-weight: 600;
}

div.popup.custom > section.button {
  margin-top: 15px;
}

div.label {
  margin: 5px 0;
  font-size: 1.1em;
  font-weight: 600;
}

div.label.yellow {
  color: #eeb90a;
}

div.label.blue {
  color: #2e90ff;
}

div.label.cyan {
  color: #17a2b8;
}

div.label.green {
  color: #23bd05;
}

div.label.red {
  color: #f03e3e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  border-top: 3px solid var(--table-top);
  border-bottom: 1px solid var(--table-bottom);
  color: var(--font-color);
}

table td {
  border-bottom: 1px solid var(--table-bottom);
}

table td.right-split {
  border-right: 1px solid var(--table-bottom);
}

table th {
  font-weight: 500 !important;
}

table th.clickable {
  cursor: pointer;
}

table th,
table td {
  font-weight: 300;
  color: var(--font-color);
  text-align: center;
  padding: 10px 10px;
}

table th.config,
table td.config {
  width: 110px;
}

table th.config.x1,
table td.config.x1 {
  width: 120px;
}

table th.config.x2,
table td.config.x2 {
  width: 200px;
}

table th.config.x3,
table td.config.x3 {
  width: 300px;
}

@media (max-width: 1024px) {
  table th.hidden,
  table td.hidden {
    display: none;
  }
  table th.config,
  table td.config {
    width: 75px !important;
  }
  table th > div.button,
  table td > div.button {
    display: inline-block;
    margin: 5px 0;
  }
}

table th.desc,
table td.desc {
  text-align: left;
}

table th.green,
table td.green {
  color: #22ad06;
}

table th.red,
table td.red {
  color: #eb0e0e;
}

table th.blue,
table td.blue {
  color: #0391e4;
}

table th.purple,
table td.purple {
  color: #ac0eeb;
}

ul#mobile-menu {
  padding: 0;
  margin: 0;
  background-color: var(--item-background);
  list-style: none;
}

ul#mobile-menu li.split {
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--item-split);
  border-left: 3px solid var(--item-left);
  padding-left: 13px;
  margin-bottom: 10px;
}

ul#mobile-menu li.split.top {
  margin-top: 18px;
}

ul#mobile-menu li.split.none {
  border: none;
}

ul#mobile-menu li.click {
  color: var(--font-color);
  cursor: pointer;
  border-bottom: 1px solid var(--item-border);
  border-left: 3px solid var(--item-background);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 14px;
}

ul#mobile-menu li.click.top {
  border-top: 1px solid var(--item-border);
}

ul#mobile-menu li.click:hover, ul#mobile-menu li.click.highlight {
  border-left: 3px solid var(--highlight);
  background-color: var(--item-hover-background);
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 12px;
  }
}

section#wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1024px) {
  section#wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

section#main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px auto;
  grid-template-columns: 340px auto;
  row-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 20px;
  padding-top: 90px;
}

section#main.no-nav {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

@media (max-width: 1024px) {
  section#main {
    display: block;
    width: 100%;
    padding-top: 10px;
  }
  .menu section#main {
    display: none;
  }
}

div.icon {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1e7bf5;
  color: #fff;
  bottom: 20px;
  left: 20px;
  z-index: 999999;
  text-align: center;
  font-size: 17px;
  line-height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  div.icon {
    display: block;
  }
}

div.icon:active {
  background-color: #0b51ad;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--item-background);
  position: fixed;
  width: 100%;
  top: 0;
}

@media (max-width: 1024px) {
  header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  header:not(.responsive) {
    display: none;
    height: 0;
    overflow: hidden;
  }
  header.responsive {
    display: block;
    height: 100vh;
    overflow: scroll;
  }
}

header * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header > section.title {
  margin: 0 10px 0 30px;
  font-weight: 600;
  font-size: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  header > section.title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    text-align: center;
  }
}

header > section.header {
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 1024px) {
  header > section.header {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

header > section.header > div {
  display: inline;
}

header > section.header div.right {
  float: right;
}

header > ul#mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  header > ul#mobile-menu.show {
    display: block;
  }
}

nav {
  width: 100%;
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}

nav section.section {
  background-color: var(--item-background);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--category-split);
  border-radius: 0.2em;
  margin: 0 0 10px 0;
}

nav section.section section.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px;
  border-bottom: 1px solid var(--category-split);
  font-size: 0.9em;
  font-weight: 600;
}

nav section.section section.container.header {
  background-color: var(--category-split);
}

nav section.section section.container div.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
}

nav section.section section.container div.name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav section.section section.container div.value {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav section.section section.container div.log {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav section.section section.container div.log.is-not-active {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

nav section.section section.container div.log.is-active {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-animation: growUp 1000ms cubic-bezier(0.26, 0, 0.06, 1) 0ms forwards;
  animation: growUp 1000ms cubic-bezier(0.26, 0, 0.06, 1) 0ms forwards;
}

nav section.section section.container div.button {
  margin: 0;
}

nav section.section section.container div.button.right {
  margin-right: 5px;
}

main section.card {
  width: 100%;
  border-top: 3px solid var(--highlight);
  padding: 15px;
  background-color: var(--card-background);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

main section.card.margin-top {
  margin-top: 20px;
}

main section.card section.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main section.card section.header div.title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.3em;
}

main section.card section.sub-header {
  font-size: 0.9em;
}

main section.card div.subtitle {
  margin: 10px 0;
  font-size: 1.1em;
}

@media (max-width: 1024px) {
  main section.card div.subtitle {
    margin: 8px 0;
  }
}

main section.card div.sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main section.card div.sub-header div.title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
}

main section.card div.sub-header div.element {
  display: inline-block;
}

main section.card div.sub-header div.element.right {
  margin-right: 10px;
}

main section.card div.sub-header div.button {
  margin: 0;
}

main section.card div.split {
  height: 1px;
  width: 100%;
  margin: 10px 0;
  background-color: var(--card-split);
}

main section.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.33333%)[3];
  grid-template-columns: repeat(3, 33.33333%);
}

@media (max-width: 1024px) {
  main section.items {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1580px) {
  main section.items {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1270px) {
  main section.items {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}

main section.items div.item {
  color: var(--font-color);
  margin: 0 5px 15px 5px;
  padding: 15px;
  border-top: 3px solid var(--highlight);
  background-color: var(--card-background);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  main section.items div.item {
    margin-bottom: 20px;
  }
}

main section.items div.item div#img {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

main section.items div.item div#img div.in {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main section.items div.item div.title {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

@media (max-width: 1024px) {
  main section.items div.item div.title {
    display: -ms-grid;
    display: grid;
  }
}

main section.items div.item div.title > div.container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
}

main section.items div.item div.split {
  height: 1px;
  display: block;
  background-color: var(--card-split);
  margin: 10px 0;
}

main section.items div.item > div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  main section.items div.item > div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

main section.items div.item > div.container div.text {
  line-height: 39px;
  height: 39px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  main section.items div.item > div.container div.text {
    line-height: 24px;
    height: 24px;
  }
}

main section.items div.item > div.container div.line {
  color: var(--font-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  text-align: center;
  background-color: var(--card-shop-background);
  border-radius: 0.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section.items div.item > div.container div.line:active {
  background-color: var(--card-shop-active);
}

@media (max-width: 1024px) {
  main section.items div.item > div.container div.line {
    padding: 9px 5px;
  }
}

main section.items div.item > div.container.bottom {
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  main section.items div.item > div.container.bottom {
    display: -ms-grid;
    display: grid;
  }
}

footer {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: var(--card-background);
}

footer div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  footer div.row {
    display: block;
  }
}

footer div.row div.col {
  margin: 0 10px;
}

footer div.row div.col div.name {
  padding: 5px;
  font-weight: 600;
  font-size: 2em;
}

@media (max-width: 1024px) {
  footer div.row div.col div.name {
    display: none;
  }
}

footer div.row div.col div.text {
  padding: 5px;
}

footer div.row div.col a {
  text-decoration: none;
  color: #1e7bf5;
}

@-webkit-keyframes growUp {
  from {
    -webkit-box-flex: 0;
    flex-grow: 0;
  }
  to {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
}

@keyframes growUp {
  from {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  to {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}