html,
body {
    padding: 0;
    margin: 0;
    z-index: -9999;
    display: -ms-grid;
    display: grid;
    background: #252525;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, "jeju gothic";
    outline: 0;
}

section#main {
    width: 100%;
    margin: auto;
    text-align: left;
    position: relative;
}

section#main div#particle {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

section#main div#particle canvas {
    display: block;
}

section#main .video-back {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

section#main .video-fore {
    background: rgba(0, 0, 0, 0);
}

section#main .video-fore,
section#main .video-back iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

section#main .video-back .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

section#main div#form {
    overflow: hidden;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 390px;
    padding: 30px;
}

section#main div#form::before {
    backdrop-filter: blur(0.3em);
    -webkit-backdrop-filter: blur(0.3em);
    background-color: #2727278f;
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: -30px;
    left: -30px;
}

section#main div#form form {
    position: relative;
}

section#main div#form div#title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

section#main div#form div#sub {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

section#main div#form div.alert {
    padding: 10px 0;
    border-radius: 0.3em;
    text-align: center;
    background-color: #e94141;
}

section#main div#form div.alert div.label {
    color: #fff;
}

section#main div#form input {
    -webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

section#main div#form input[type="text"],
section#main div#form input[type="password"] {
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
    border: none;
    border-left: 1px solid #f7f7f7;
}

section#main div#form input[type="text"]::placeholder,
section#main div#form input[type="password"]::placeholder {
    color: #fff9;
}

section#main div#form input[type="text"]:focus,
section#main div#form input[type="password"]:focus {
    border-left: 1px solid #0084ff;
}

section#main div#form input[type="password"]:not(:placeholder-shown) {
    font-family: sans-serif;
}

section#main div#form input[type="submit"] {
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #0084ff;
}

section#main div#form input[type="submit"]:active {
    background-color: #0068c9;
}

section#main div#form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

section#main div#form .checkbox {
    font-size: 15px;
    margin: 20px 0px;
    text-align: left;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section#main div#form .checkbox .checkmark {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
}

section#main div#form .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

section#main div#form .checkbox input:checked ~ .checkmark {
    background-color: #0084ff;
}

section#main div#form .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

section#main div#form label {
    display: inline;
    color: #fff;
}

section#main div#form a {
    color: #0084ff;
    text-decoration: none;
}

@media (min-aspect-ratio: 16 / 9) {
    .video-fore {
        height: 300% !important;
        top: -100% !important;
    }
}

@media (max-aspect-ratio: 16 / 9) {
    .video-fore {
        width: 300% !important;
        left: -100% !important;
    }
}